docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = false


env.WORKING_DIR = "/home/tee25/Desktop/assessment/naturemetrics/"
env.PROJECT_CODE_BASE_SRC_DIR = "/home/tee25/Desktop/assessment/naturemetrics/read_mapping_validation/"
env.CHUNKS_BASE_DIR = "dmrs_chunks_matrix"

params {

    absolute_path_to_project_root_dir_source =  "${env.PROJECT_CODE_BASE_SRC_DIR}"
    path_to_output_directory = "${env.WORKING_DIR}/assessment_out/"
    path_to_bed_files = "${env.WORKING_DIR}/pipeline_developer_tech_project/pipeline-developer-tech-project-1.1.0/input/"
    path_to_bam_files = "${env.WORKING_DIR}/pipeline_developer_tech_project/pipeline-developer-tech-project-1.1.0/input/"

}

singularity {

    enabled = false
    runOptions = '-B /home/tee25/Desktop/assessment/:/home/tee25/Desktop/assessment/ -B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/tmp'
    containerOptions = '--memory 16G --size 100G --cpus 9'
    envWhitelist = ['SINGULARITY_TMPDIR']

}

process {
    cpus = 4
    array = 10
}


